@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #f1f5f8;
}
main{
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.heading{
    color: rgb(7, 7, 61);
    margin: 20px 0px;
    font-size: 40px;
    border-bottom: 5px solid rgb(7, 7, 61);
    text-align: center;
}
.code-view{
    background: #fff;
    padding: 20px;
    width: 900px;
    min-height: 100px;
    border-radius: 4px;
    /* box-shadow: rgba(158, 129, 129, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 30px 0px;
    transition: 0.5s ease-in-out;
    /* overflow-y: scroll; */
    overflow-x: scroll;
    
}
.code{
    margin: 30px 0px;
    height: 100%;
    
}