@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
body{
    background: #f1f5f8;
}
main{
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    color: rgb(7, 7, 61);
    margin: 20px 0px;
    font-size: 40px;
    border-bottom: 5px solid rgb(7, 7, 61);
    text-align: center;
}
.message{
    background: #fff;
    padding: 20px;
    width: 500px;
    border-radius: 4px;
    /* box-shadow: rgba(158, 129, 129, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 30px 0px;
    transition: 0.5s ease-in-out;
    overflow-y: scroll;
    
}
.message:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
}
.message *{
    margin: 10px 10px;
}
.message .name{
    color: #2385cc;
}
.message .content{
    text-decoration: none;
}
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    background-color: #333;
    color: #fafafa;
    text-align: center;
 }